__pycache__/
*.py[cod]
*.log
.DS_Store
.env
.venv/
db.sqlite3
fullbox/db.sqlite3
/nb/__pycache__/
/fullbox/*/__pycache__/
/fullbox/*/migrations/__pycache__/
/fullbox/*/migrations/*.pyc
/fullbox/*/*.pyc
