<div class="label-box-layout" aria-hidden="true">
  <div class="label-box-grid" aria-hidden="true"></div>
  <div class="label-box-header" data-box-header></div>
  <div class="label-box-qr">
    <div class="label-qr" data-qr-box aria-hidden="true"></div>
  </div>
  <div class="label-box-number" data-info="box_pallet_number"></div>
  <div class="label-box-cell label-box-basis">
    <span class="label-box-cell-text" data-info="box_basis"></span>
  </div>
  <div class="label-box-cell label-box-client">
    <span class="label-box-cell-text" data-info="box_client"></span>
  </div>
</div>
