<div class="label-box-frame" aria-hidden="true">
  <div class="label-box-grid" aria-hidden="true"></div>
  <div class="label-box-col label-box-basis">
    <div class="label-box-col-wrap">
      <div class="label-box-col-text" data-info="box_basis"></div>
    </div>
  </div>
  <div class="label-box-col label-box-client">
    <div class="label-box-col-wrap">
      <div class="label-box-col-text" data-info="box_client"></div>
    </div>
  </div>
  <div class="label-box-dim label-box-dim-top">60 мм</div>
  <div class="label-box-dim label-box-dim-right">58 мм</div>
  <div class="label-box-dim label-box-dim-bottom">60 мм</div>
  <div class="label-box-dim label-box-dim-left">58 мм</div>
</div>
