<div class="label-grid-overlay" aria-hidden="true"></div>
<div class="label-cz-article" data-info="article"></div>
<div class="label-cz-field label-cz-brand" data-info="brand"></div>
<div class="label-cz-field label-cz-name" data-info="name"></div>
<div class="label-cz-field label-cz-color" data-info="color"></div>
<div class="label-cz-field label-cz-composition" data-info="composition"></div>
<div class="label-cz-field label-cz-supplier" data-info="supplier"></div>
<div class="label-barcode-cell label-cz-barcode-cell">
  <div class="label-barcode-rotate">
    <svg class="label-barcode" data-barcode-svg aria-hidden="true"></svg>
    <div class="label-barcode-value" data-barcode-value>-</div>
  </div>
</div>
<div class="label-qr-cell label-cz-qr-cell">
  <div class="label-qr" data-qr-box aria-hidden="true"></div>
</div>
<div class="label-cz-code" data-info="cz_code"></div>
<div class="label-cz-eac">
  <img alt="EAC" src="/static/images/eac.png">
</div>
